/* 초기화 덜된것 */
li{
	list-style: none;
}

/* 공통값 */
.wh-50{
	width: 50%;
}
.mb-9{
	margin-bottom: 9px;
}
.pd-rt-120{
	padding-right: 120px;
}
.pd-lr-20{
	padding:0 20px;
}
.pd-5{
	padding:5px;
}
.mt-t10{
	margin-top: 10px;
}
.mt-t5{
	margin-top: 5px;
}
.mr15{
	margin: 15px;
}
.ad_page_in{
	font-size: 18px;
    margin-top: 10px;
    font-weight: 700;
}
.ft-size-24{
	font-size: 24px;
	padding:0 5px 2px;
	color: d90134;
}

.clear_both{
	clear: both;
}

/* 사용자 네비 */
.sub_nav,
.main_nav{
	min-width: 1480px;
}
.main_nav{
	width: 100%;
	height: 77px;
	margin:auto;
	background-color: #122754;
}
.nav_wrap{
    width: 100%;
    height: 77px;
    background-color: #fff;
   	min-width: 1550px;
}
.main_nav li{
	float:left;
	font-size:24px;
    padding: 20px 20px 33px;
}
.main_nav li a{
	color: #1c1c1c;
}
.sub_nav{
	width: 100%;
	height: 30px;
	background-color: #fff;
}
.sub_nav_wp{
	width: 100%;
	margin: auto;
	min-width: 1550px;
}

.sub_nav a,
.sub_nav span
{
	float: right;
}
.sub_nav_wp .sub_wp_lt,
.sub_nav_wp .sub_wp_rt {
	width: 50%;
	height: 30px;
}
.sub_nav_wp .sub_wp_lt{
	float: left;
    padding: 10px;
    padding-left: 160px;
}
.sub_nav_wp .sub_wp_rt{
	float: right;
	background-color: #122754;
    padding: 10px;
    padding-right: 160px;
}
.sub_wp_lt span{
	float: left;
	color: #000;
}
.ft-600{
	font-weight: 600;
}
.lt_nav{
	width: 50%;
	float: left;
	background-color: #fff;
}
.lt_nav ul{
	float: right;
}
.logo_wrap{
	float: left;
}
.logo_wrap img{
	width: 130px;
    margin: 12px 18px 12px 160px;
}
.rt_nav{
	width: 50%;
	float: right;
	background-color: #122754;
}
.rt_nav ul{
	float: left;
}
.rt_nav li{
	color:#fff;
}
.ev-tt{
	padding-right: 10px;
}
.sub_wp_lt span a{
	color:#1c1c1c;
}
.sub_wp_rt a,
.sub_wp_rt span{
	color:#fff;
	padding-left: 10px;
}
/* 어드민 네비 */
.ad_nav_tt{
    padding: 18px;
    font-size: 30px;
}
.input_tt{
	font-size: 16px;
    font-weight: 600;
    margin: 9px 0; 
}
