.banner_container{
	position:relative;
	width: 100%;
	background-color: #122754;
	padding-right: 160px;
}
.banner_content img{
	width: 100%;
}

.banner_indicator{
	position:absolute;
	right:0px;
	bottom:0px;
	width: 300px;
	height: 200px;
	background-color: #fff;
}

.section_01{
	width: 100%;
	background-color: #f9f9f9;
}
.section_02{
	width: 100%;
}
.section_wp_01{
    width: 1080px;
    height: 306px;
    margin: auto;
	
}
.section_wp_01 .sec_lt{
	position: relative;
	width: 50%;
    float: left;
}
.section_wp_01 .sec_lt img{
	width: 100%;
    position: absolute;
    top: -30px;
}
.section_wp_01 .sec_rt{
	width: 50%;
	float: right;
	padding: 45px;
}


.section_wp_02{
    width: 1080;
    height: 306px;
    background-color: fuchsia;
    margin: auto;
	
}
.section_wp_02 .sec_lt{
	width: 58.9%;
	float: left;
}
.section_wp_02 .sec_rt{
	width: 41.1%;
	float: right;
}
.section_wp_02 .sec_lt img{
	width: 100%;
}
