.banner_container{
	position:relative;
	width: 100%;
	background-color: #122754;
	padding-right: 160px;
}
.banner_content img{
	width: 100%;
}

.banner_indicator{
	position:absolute;
	right:0px;
	bottom:0px;
	width: 300px;
	height: 200px;
	background-color: #fff;
    padding: 30px 50px;
	z-index: 999;
}

.section_01{
	width: 100%;
	background-color: #f9f9f9;
	position: relative;
}
.section_02{
	width: 100%;
	position: relative;
}

.section_03{
	width: 100%;
}
.section_wp_01{
    width: 1080px;
    height: 306px;
    margin: auto;
	
}
.section_wp_01 .sec_lt{
	position: relative;
	width: 50%;
    float: left;
}
.section_wp_01 .sec_lt img{
	z-index: 999;
	width: 100%;
    position: absolute;
    top: -30px;
}
.section_wp_01 .sec_rt{
    width: 50%;
    float: right;
    padding: 54px;
}
.section_wp_01 .sec_rt h1{
	font-size: 38px;
	color: #424242;
}

.section_wp_02{
    width: 1080;
    height: 306px;
    margin: auto;
	
}
.section_wp_02 .sec_lt{
	width: 58.9%;
	float: left;
}
.section_wp_02 .sec_rt{
    padding: 54px;
	width: 41.1%;
	float: right;
}
.section_wp_02 .sec_lt img{
	width: 100%;
}

.mt-12{
	margin-bottom:12px;
}
.mt-6{
	margin-bottom: -6px;
}
.mt-3{
	margin-bttom: 3px;
}
.shop_btn01{
	width: 200px;
    font-size: 18px;
    padding: 14px;
    border-radius: 50px;
    border: none;
    background-color: #d90134;
    color: #fff;
    margin-top: 20px;
    font-weight: 500;
}
.shop_btn02{
	width: 200px;
    font-size: 18px;
    padding: 14px;
    border-radius: 50px;
    border: none;
    background-color: #122754;
    color: #fff;
    margin-top: 20px;
    font-weight: 500;
}
.sec01_divider{
    width: 20%;
    height: 3px;
    bottom: 0px;
    right: 1px;
    background-color: #d90134;
    position: absolute;
}
.sec02_divider{
    width: 20%;
    height: 3px;
    bottom: 0px;
    left: 1px;
    background-color: #122754;
    position: absolute;
}

.section_wp_02 .sec_rt h1{
	font-size: 38px;
	color: #424242;
}
.indi_wp01,
.indi_wp02,
.indi_wp03,
.indi_wp04{
    padding: 9px;
    color: #122754;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.3px;
}
.banner_indicator span{
	padding-right: 25px;
}
.bn_active{
	color:#d90134;
}
.bn_active .bn_indi{
	width: 100px;
    height: 2px;
    margin-bottom: 5px;
    background: #d90134;
    display: inline-block;
    transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
.sale_bg{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 23%;
}

/* ¼½¼Ç3 */

.section_wp_03{
    width: 1080px;
    margin: auto;
    height: 500px;
}
.sec_divider_03{
	width: 100%;
	height: 2px;
	background-color: #d90134;
}
.sec_divider_04{
	width: 100%;
	height: 2px;
	background-color: #122754;
}

.sec03_lt{
	width: 30%;
	float: left;
}
.sec03_rt{
	width: 70%;
	float: right;
}